<%- include("./partials/header") %>
<head>
    <link type="text/css" rel="stylesheet" href="/public/css/quickview.css">
</head>
<body>
    <div class="card card1" style="width: 18rem;">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5103AQHflv8e3VVJDg/profile-displayphoto-shrink_400_400/0/1562172205514?e=1620259200&v=beta&t=30qJnFZDFVFrsLb7Ja-Nbtv90-G7QmBlP95HAk7sX9c" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Surjeet Kumar Verma</h5>
          <p class="card-text" style="text-align: center;background-color:rgba(238, 147, 147,0);">I am an undergrad currently in prefinal Year pursuing Mechanical Engineering at IIT Madras.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="text-align: center;background-color: rgba(238, 147, 147,0);">This is a movie search engine on which one can search any movie title and get detailed info about the movie.</li>
        </ul>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Ca</a>
          <a href="#" class="card-link">Another link</a>
        </div> -->
      </div>
</body>

<%- include("./partials/footer") %>