<%- include("./partials/header") %>
<head>
    <link type="text/css" rel="stylesheet" href="/public/css/quickview.css">
</head>
<div class="card text-center">
    <div class="card-header">
      Surjeet Kumar Verma
    </div>
    <div class="card-body">
      <h5 style="color:black" class="card-title">Hey, Feel free to mail me your queries or suggestions !</h5>
      <p class="card-text">surjeetverma2017@gmail.com</p>
      <a href="https://mail.google.com/mail/" class="btn btn-primary">Go to Gmail</a>
    </div>
    <div class="card-footer text-muted">
        Thanks for visiting !
    </div>
  </div>
<%- include("./partials/footer") %>